/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}

.login-container {
  grid-area: login;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1em;
  background-image: url("../../assets/images.jfif");
  background-size: cover;
}

.grid-container {
  display: unset;
}

h2 {
  color: #006400;
}

.input-container {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1em;
}

button {
  padding: 0.5em 1em;
  font-size: 1em;
  color: white;
  background-color: #228b22;
  border: none;
}

button:hover {
  background-color: #006400;
}

.error-message {
  color: red;
}

.login-container {
  /* ...seus estilos existentes... */

  /* Adicione um pouco de sombra para dar profundidade */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Adicione algum preenchimento */
  padding: 2em;

  /* Adicione algum arredondamento nas bordas */
  border-radius: 1em;

  /* Centralize o conteúdo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button {
  /* Adicione algum preenchimento */
  padding: 0.5em;

  /* Adicione algum arredondamento nas bordas */
  border-radius: 0.5em;

  /* Adicione uma borda */
  border: 1px solid #ccc;
}

button {
  /* Mude a cor de fundo e a cor do texto */
  background-color: #228b22;
  color: white;

  /* Adicione algum espaço acima do botão */
  margin-top: 0.5em;
}

button:hover {
  /* Escureça a cor de fundo quando o mouse passar sobre o botão */
  background-color: #006400;
}
