h1 {
  padding: 0 0 0 0;
}

.div-ocorrencia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-ocorrencia input,
.div-ocorrencia select {
  font-size: 15px;
  text-align: center;
  padding: 4px;
  margin-bottom: 8px;
}
#ocorrencia {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#motivacao {
  min-width: 500px;
  width: 100%;
  padding: 8px;
  resize: vertical; /* Isso permite a redimensionamento apenas na direção vertical */
  font-size: 15px;
}

.ocorrenciaAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  #motivacao {
    min-width: 300px;
  }
}
@media screen and (max-width: 400px) {
  #motivacao {
    min-width: 0;
  }
}
