.registrar-veiculo {
  max-width: 400px; /* Ajuste conforme necessário */
  width: 100%;
  margin: 0 auto;
}

.veiculo {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
}

.botoes {
  display: flex;
  justify-content: flex-end;
}

/* Adicione media queries conforme necessário para tornar a página realmente responsiva */
@media (max-width: 600px) {
  .registrar-veiculo {
    max-width: 100%;
  }
}
