.content {
  padding: 10px 10px 10px 10px;
}

.navigation-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.navigation-btn button {
  margin-left: 0.4rem;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  font-size: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.8rem;
}

th,
td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
  width: 100px;
}

thead {
  background-color: #2ecc71; /* Verde */
  color: white;
}

th p {
  font-size: 12px;
}
tbody tr:nth-child(odd) {
  background-color: white; /* Cor de fundo alternada para linhas */
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Cor de fundo alternada para linhas */
}

td p {
  color: black;
  font-size: 12px;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .navigation-btn button {
    margin-left: 0.4rem;
    padding: 0.3rem 0.3rem;
  }
}
@media screen and (max-width: 520px) {
  .navigation-btn {
    width: 512px;
  }
}
